<style>
    #right-floater {
        position: relative;
        float: right;
        margin: 130px 50px 0 0;
    }

    #right-floater img {
        height: 270px;
        width: auto;
    }

    #visit-us {
        position: relative;
        width: 300px;
        float: left;
        margin: 0 40px;
    }

    #main-content {
        position: relative;
        display: inline-block;
    }

    form input, textarea{
        border-style: none;
        font-size: 16px;
        padding-left: 10px;
        background-color: #f5f5f5;
    }
    textarea{
        height: 80px;
        width: 300px;
        resize: none;
    }

    form input[type=submit] {
        width: 150px;
        float: right;
        height: 40px;
    }

    form input[type=text]{
        width: 300px;
        margin-bottom: 10px;
        height: 40px;
    }

    /********************************************************************************/
    @media screen and (max-width: 627px) {

    }
</style>
<section id="banner">
    <img src="assets/images/contact-image.png">
</section>
<section id="visit-us">
    <h1 class="para-head">Visit us!</h1>
    <p class="para-body">Monday - Friday | 10am-9pm<br>
        Saturday | 10am-8pm<br>
        Sunday | 11am-7pm<br>
        Closed Thanksgiving Day, Christmas Day and Easter Day</p>
    <p class="para-body">1625 Post St<br>
        San Francisco, CA 94115</p>
    <p class="para-body">949.800-3111</p>
    <p class="para-body" style="color:#df5277">order@mboutique.com</p>
    <p class="para-body">Send your questions, comments and flavor suggestions or place an order!</p>
</section>
<section id="main-content">
    <h1 class="para-head">Contact Form</h1>
    <form>
        <input type="text" placeholder="Name"><br>
        <input type="text" placeholder="Email"><br>
        <input type="text" placeholder="Phone"><br>
        <input type="text" placeholder="Subject"><br>
        <textarea placeholder="Message"></textarea><br>
        <input type="submit" value="SEND">
    </form>
</section>
<section id="right-floater">
    <img src="assets/images/macarons-image.png">
</section>