<style>
    #main-content {
        background-image: url("assets/images/gifts-parties-background.png");
        margin: 20px;
        padding: 20px;
    }

    ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
    }

    /********************************************************************************/
    @media screen and (max-width: 627px) {

    }
</style>
<section id="banner">
    <img src="assets/images/gifts-parties-image.png">
</section>
<section id="main-content">
    <p class="para-head">Let's eat macarons!</p>
    <p class="para-body">We make it easy to share la passion du macaron with your friends, family, and colleagues.
        Choose from our array of premium gift options, or we can create a custom solution. Contact us when you need help
        planning your celebration! <span style="color: #df5277">orders@mboutique.com</span></p>
    <p class="para-head">Gift boxes</p>
    <p class="para-body">Our signature gift boxes make macarons the perfect gift for any occasion.</p>
    <ul>
        <li>gift box of 8 macarons in raspberrywhite - $10</li>
        <li>gift box of 12 macarons in white, pistachio, or violet - $20</li>
        <li>gift box of 24 macarons in violet - $40</li>
        <li>gift box of 36 macarons in silver - $60</li>
        <li>gift box a la ronde of 60 macarons in violet or silver - $120</li>
    </ul>
    <p class="para-head">Party tower</p>
    <p class="para-body">Our 5-tiered party tower becomes the centerpiece of any special event or private<br>
        celevration,
        elegantly presenting your unique selection of sixty macarons</p>
    <ul>
        <li>tower of 60 macarons - $120</li>
    </ul>
</section>