<style>
    #main-content {
        background-image: url("assets/images/our-macarons-background.png");
        margin: 20px;
        padding: 20px;
    }
    ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
    }

    /********************************************************************************/
    @media screen and (max-width: 627px) {

    }
</style>
<section id="banner">
    <img src="assets/images/our-macarons-image.png">
</section>
<section id="main-content">
    <p class="para-head">Our macarons are freshly made by hand</p>
    <p class="para-body">The vivid hues of our unique macarons reflect the natural flavors and essences that infuse the
        ganache filling of these delicious almond cookies - each has its own personality, and all of them are made to
        savour for their delicacy and unique character.</p>
    <p class="para-head">Classics</p>
    <ul>
        <li>caribbean chocolate</li>
        <li>coconut</li>
        <li>colombian coffee</li>
        <li>green tea</li>
        <li>lemon</li>
        <li>madagascar vanilla</li>
        <li>passion fruit</li>
        <li>rose</li>
        <li>raspbery</li>
        <li>tiffany blue</li>
        <li>sicilian pistachio</li>
        <li>sweet wedding almond</li>
        <li>violet cassis</li>
        <li>salted caramel</li>
    </ul><br><br>
    <p class="para-body">After purchase we recommend keeping macarons in the refrigerator; let them come to room
        temperature before serving - about 10 minutes. For best degustation, our macarons should be consumed within 3
        days.</p>
</section>