<style>
    #left-floater {
        position: absolute;
        float: left;
        margin: 160px 0 0 50px;
    }

    #left-floater img {
        height: 270px;
        width: auto;
    }

    #main-content {
        position: relative;
        display: inline-block;
        left: 300px;
        margin: 20px;
        padding: 20px;
        width: 670px;
    }

    #daily-samples {
        position: relative;
        display: block;
        margin: auto;
        width: 990px;
    }

    #daily-samples div {
        position: relative;
        display: inline-block;
        height: 140px;
        width: 126px;
        background-color: #fffabe;
        margin: 6px;
    }

    div .days {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        padding: 5px;
        margin: 0;
    }

    div .time-range, div .below-days {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        font-size: 12px;
        color: #6a6969;
        padding: 7px 5px;
        margin: 0;
    }

    #daily-samples img {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    /********************************************************************************/
    @media screen and (max-width: 627px) {

    }
</style>
<section id="banner">
    <img src="assets/images/welcome-image.png">
</section>
<section id="left-floater">
    <img src="assets/images/macarons-image.png">
</section>
<section id="main-content">
    <p class="para-head">Welcome to MBoutique!</p>
    <p class="para-body">We're a home-based baking business that specializes in the making of French macarons, a
        gluten-free pastry item made from ground almonds. Our business began at th West Reading Farmers Market in 2011.
        Last year (2013) marked our third and final season of participation at the market. MBoutique was established to
        pay homage to the delicate French confectionery, the macaron. Our shop has been recognized as the connoisseurs
        of this delicious French pastry because of the wonderful variety of flavors from our great master chefs.</p>
    <p class="para-head">We Love Macarons!</p>
    <p class="para-body">Renowned macarons, French delights of the moment can be met in a variety of flavors and colors
        and are brilliant precisely because of their simplicity - a crispy coating, but delicate in a loose blanket jam,
        chocolate butter cream is spread inviting.</p>
    <p class="para-body">Macarons combines perfectly with champagne or white wine, tea or hot chocolate, fresh juices
        and
        natural fruit flavored coffee and guarantee that these little delights soon become friend that you can not
        break.</p>
    <p class="para-head">Find the flavor you like. Try a sample every day!</p>
</section>
<section id="daily-samples">
    <div>
        <p class="days">Monday</p>
        <p class="time-range">15:00-16:00</p><br>
        <p class="below-days">chocolate<img src="assets/images/chocolate.png"></p>
        <p class="below-days" style="color: white; background-color: #824603">coconut<img
                src="assets/images/coconut.png"></p>
    </div>
    <div>
        <p class="days">Tuesday</p>
        <p class="time-range">14:00-15:00</p><br>
        <p class="below-days">violet cassis<img src="assets/images/violet-cassis.png"></p>
        <p class="below-days">green tea<img src="assets/images/green-tea.png"></p>
    </div>
    <div>
        <p class="days">Wednesday</p>
        <p class="time-range">09:00-10:00</p><br>
        <p class="below-days">passion fruit<img src="assets/images/passion-fruit.png"></p>
        <p class="below-days" style="color: white; background-color: #df5277">vanilla<img
                src="assets/images/vanilla.png"></p>
    </div>
    <div>
        <p class="days">Thursday</p>
        <p class="time-range">18:00-19:00</p><br>
        <p class="below-days">coffee<img src="assets/images/coffee.png"></p>
        <p class="below-days">pistachio<img src="assets/images/pistachio.png"></p>
    </div>
    <div>
        <p class="days">Friday</p>
        <p class="time-range">11:00-12:00</p><br>
        <p class="below-days">raspbery<img src="assets/images/raspbery.png"></p>
        <p class="below-days" style="color: white; background-color: #a2304e">lemon<img src="assets/images/lemon.png">
        </p>
    </div>
    <div>
        <p class="days">Saturday</p>
        <p class="time-range">13:00-14:00</p><br>
        <p class="below-days">rose<img src="assets/images/rose.png"></p>
        <p class="below-days">tiffany blue<img src="assets/images/tiffany-blue.png"></p>
    </div>
    <div>
        <p class="days">Sunday</p>
        <p class="time-range">10:00-11:00</p><br>
        <p class="below-days">caramel<img src="assets/images/caramel.png"></p>
        <p class="below-days" style="color: white; background-color: #c39005">almond<img src="assets/images/almond.png">
        </p>
    </div>
</section>